@font-face {
	font-family: "Inconsolata";
	src: url("./Inconsolata/Inconsolata-Regular.ttf");
}
@font-face {
	font-family: "Inconsolata";
	font-weight: bold;
	src: url("./Inconsolata/Inconsolata-Bold.ttf");
}

textarea {
	font-family: "Inconsolata", monospace;
	resize: vertical;
	height: 50vh;
}

pre {
	font-family: "Inconsolata", monospace;
}

.iframe {
	border-style: solid;
	border-color: #0074d9;
	border-radius: 6px;
	border-width: 1px;
	resize: vertical;
	font-family: "Inconsolata"
}

code:focus {
	outline: 0;
	width:100%;
}